<footer class="footer-container list-group-item active">
  <a
    class="footer-link"
    target="_blank"
    href="https://github.com/jacver/slope-notes"
  >
    <i class="fa-brands fa-github footer-icon"></i>
  </a>
</footer>
