<meta charset="UTF-8" />
<title>EJS Is Fun</title>

<!-- CSS (load bootwatch from a CDN) -->
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/minty/bootstrap.min.css"
  integrity="sha384-H4X+4tKc7b8s4GoMrylmy2ssQYpDHoqzPa9aKXbDwPoPUA3Ra8PA5dGzijN+ePnH"
  crossorigin="anonymous"
/>

<style>
  body {
    padding-top: 50px;
  }
</style>
