<meta charset="UTF-8" />
<title>EJS Is Fun</title>

<!-- CSS (load bootwatch from a CDN) -->
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/minty/bootstrap.min.css"
  integrity="sha384-H4X+4tKc7b8s4GoMrylmy2ssQYpDHoqzPa9aKXbDwPoPUA3Ra8PA5dGzijN+ePnH"
  crossorigin="anonymous"
/>

<!-- public/styles.css -->
<link rel="stylesheet" type="text/css" href="styles.css" />

<!-- link tag to favicon icon image (non-existent) -->
<link rel="icon" type="image/svg+xml" href="https://example.com/image.svg" />

<!-- Linking font-awesome kit -->
<script
  src="https://kit.fontawesome.com/46ee1546cc.js"
  crossorigin="anonymous"
></script>
