<header class="header-container list-group-item active">
  <div class="header-container">
    <!-- <div class="logo"> -->
    <a class="logo" href="/resorts">
      <img
        class="img-responsive logo"
        src="/images/logo-pink.png"
        alt="Slope Notes Logo"
      />
    </a>
    <!-- </div> -->
    <div class="header-text">
      <h1>Slope Notes</h1>
    </div>
  </div>
</header>
