body {
  padding-top: 50px;
}

.page-title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
}

.page-title {
  /* padding: 10px; */
}

.btn-add {
  font-size: 300%;
  padding-right: 5.75%;
}

.card-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1% 5%;
}

.card-titles-container {
  /* display: flex; */
  flex-direction: column;
}

.subtitle {
  font-size: large;
}

.card-buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
  gap: 2px;
}

.btn {
  width: 100%;
}
