body {
  padding-top: 50px;
  height: 100%;
}

.page-title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* padding: 1%; */
}

.dropdown {
  align-self: normal;
  padding: 5px;
}

.btn-add {
  position: relative;
  left: 0%;
  top: 45%;
  border-radius: 20px;
  border: none;
  padding: 5px;
}

.dropdown-option0 {
  display: none; /* hide "add resort" from drop down*/
}

.card-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1% 5%;
}

.card-titles-container {
  /* display: flex; */
  flex-direction: column;
}

.subtitle {
  font-size: large;
}

.card-buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
  gap: 2px;
}

.btn {
  width: 100%;
}
