<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">
  <header><%- include('../partials/header'); %></header>

  <form action="/resorts" method="POST">
    <div class="form-group">
      <label for="resortName">Resort Name:</label>
      <input
        type="text"
        id="resortName"
        name="resortName"
        class="form-control"
      />
      <label for="resortCity">City:</label>
      <input
        type="text"
        id="resortCity"
        name="resortCity"
        class="form-control"
      />
      <label for="resortState">State:</label>
      <input
        type="text"
        id="resortState"
        name="resortState"
        class="form-control"
      />
      <label for="resortCountry">Country:</label>
      <input
        type="text"
        id="resortCountry"
        name="resortCountry"
        class="form-control"
      />
    </div>
    <input type="submit" class="btn btn-primary btn-newResort" />
    <a href="/resorts" class="btn btn-secondary btn-newResort">Cancel</a>
  </form>

  <footer><%- include('../partials/footer'); %></footer>
</body>
