<head>
  <%- include('../partials/head'); %>
</head>
<body>
  <header><%- include('../partials/header'); %></header>

  <main>
<div class="container">
  <% resorts.forEach(resort => { %>
  <div>
    <h2><%= resort.resortName %></h2>
    <div>
        
    </div>
  </div>

  <% }) %>

  </main>

  <footer><%- include('../partials/footer'); %></footer>
</body>
